In [1]:
# Import necessary libraries
import re
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
sns.set(style="darkgrid")
sns.set(font_scale=1.5)
import string
from nltk.corpus import stopwords
import collections
from pprint import pprint
from time import time

# nltk
from nltk.stem import WordNetLemmatizer

# sklearn for model training
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.pipeline import Pipeline, FeatureUnion, make_pipeline
from sklearn import model_selection

# sklearn evaluation metrics
from sklearn.metrics import classification_report,accuracy_score, plot_confusion_matrix, precision_score, recall_score, f1_score
from sklearn.metrics import precision_recall_curve
from sklearn.metrics import auc

#warnings
import warnings
warnings.filterwarnings('ignore')

In [13]:
#Test dataset
test = pd.read_excel(r'C:\Users\vcmc4\Desktop\Classes\FYP\FYP Codes & Dataset\Covid Datasets\Constraint_English_Train.xlsx')
test.head()

   id                                              tweet label
0   1  The CDC currently reports 99031 deaths. In gen...  real
1   2  States reported 1121 deaths a small rise from ...  real
2   3  Politically Correct Woman (Almost) Uses Pandem...  fake
3   4  #IndiaFightsCorona: We have 1524 #COVID testin...  real
4   5  Populous states can generate large case counts...  real

In [14]:
# Validation Set
val = pd.read_excel(r'C:\Users\vcmc4\Desktop\Classes\FYP\FYP Codes & Dataset\Covid Datasets\Constraint_English_Val.xlsx')
val.head()

   id                                              tweet label
0   1  Chinese converting to Islam after realising th...  fake
1   2  11 out of 13 people (from the Diamond Princess...  fake
2   3  COVID-19 Is Caused By A Bacterium, Not Virus A...  fake
3   4  Mike Pence in RNC speech praises Donald Trump’...  fake
4   5  6/10 Sky's @EdConwaySky explains the latest #C...  real

In [15]:
# Merge datasets

#1. Drop both ID labels
test.drop('id', axis=1, inplace = True)
val.drop('id', axis=1, inplace = True)

In [18]:
#2. combine datasets
df = pd.DataFrame()

In [20]:
df = pd.concat([test, val]).reset_index(drop=True)

In [21]:
df

                                                  tweet label
0     The CDC currently reports 99031 deaths. In gen...  real
1     States reported 1121 deaths a small rise from ...  real
2     Politically Correct Woman (Almost) Uses Pandem...  fake
3     #IndiaFightsCorona: We have 1524 #COVID testin...  real
4     Populous states can generate large case counts...  real
...                                                 ...   ...
8555  Donald Trump wrongly claimed that New Zealand ...  fake
8556  Current understanding is #COVID19 spreads most...  real
8557  Nothing screams “I am sat around doing fuck al...  fake
8558  Birx says COVID-19 outbreak not under control ...  fake
8559  Another 4422 new coronavirus cases have been c...  real

[8560 rows x 2 columns]

In [24]:
print(len(test))
print(len(val))
print(len(df))

6420
2140
8560

In [25]:
# Save merged Dataframe
df.to_csv("merge.csv", index = False)